.list-container {
  margin: 2rem auto;
  width: 90%;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th {
  background-color: #1e293b;
  color: white;
  padding: 10px;
}

.admin-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.admin-table button {
  margin: 0 5px;
  border: none;
  background: #2563eb;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-table button:last-child {
  background: #dc2626;
}

.admin-table button:hover {
  opacity: 0.9;
}
